.wrapper {
    width: 100%;
    border: 2px solid red;

    .main {
        @include flex (flex, column, center, center, nowrap);
        @include setWrapper (90%, 0 auto, 0);
        border-radius: 10px;

        @media screen and (min-width: $desk) {
            @include setWrapper (50%, 0 auto, 0);
        }

        .image {

            .image-mobile {
                border-radius: 10px 10px 0 0;
                width: 100%;
            }

            .image-desktop {
                display: none;
            }
        }

        .cart {
            @include flex (flex, column, center, start, nowrap);
            @include setWrapper (auto, 0, 5% 8%);
            background-color: $white;
            border-radius: 0 0 10px 10px;

            .heading {
                @include setFont (0.9rem, 500, 1);
                @include setWrapper (auto, 0, 1.5% 0);
                font-family: 'Montserrat', serif;
                color: $darkGrayishBlue;
                letter-spacing: 2px;
            }


            .title {
                @include setWrapper (auto, 0, 1.5% 0 2.5%);
                @include setFont (2rem, 700, 1);
                font-family: 'Fraunces', serif;
                color: $veryDarkBlue;
            }

            .subtitle {
                @include setWrapper (84%, 0, 1.5% 0);
                @include setFont (0.7rem, 500, 1.5);
                font-family: 'Montserrat', serif;
                color: $darkGrayishBlue;
            }

            .price {
                @include setWrapper (100%, 0 0 3%, 0);
                @include flex (flex, row, center, center, nowrap);
                font-family: 'Fraunces', serif;

                .newprice {
                    @include setWrapper (50%, 0, 0);
                    @include setFont (1.8rem, 700, 2);
                    color: $darkCyan;
                }

                .oldprice {
                    @include setWrapper (50%, 0, 0);
                    @include setFont (0.8rem, 500, 2);
                    color: $darkGrayishBlue;
                    text-decoration: line-through;
                }
            }

            .btn {
                @include flex (flex, wrap, center, center, nowrap);
                @include setWrapper (100%, 0, 5% 0);
                @include setFont (0.8rem, 700, 1);
                column-gap: 8px;
                border-radius: 10px;
                font-family: 'Montserrat', serif;
                background-color: $darkCyan;
                color: $white;
            }
        }


    }
}